body{
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-align: center;
}

.title{
    font-size: 90px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton{
    border: 2px solid black;
    border-radius: 10px;
}

#restartButton:hover{
    background-color: blue;
}

#scoreboard{
    margin: 0px;
    font-size: 30px;
}

#snake{
    color: black;
}